---
layout: default
---

{% include nav.html %}

<div id="team-page" class="page">

    <img class="center-logo" src="img/logo-no-background.png" />
    <h2>竹尖儿团队</h2>

    <section id="team-section">
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
        </div>
        <div class="team-member" team-member="jiajun">
            <img class="default" src="img/jiajun.jpg" />
        </div>
        <div class="team-member" team-member="shixin">
            <img class="default" src="img/shixin.jpg" />
        </div>
        <div class="team-member" team-member="chentian">
            <img class="default" src="img/chentian.jpg" />
        </div>
        <div class="team-member" team-member="yingshan">
            <img class="default" src="img/yingshan.jpg" />
        </div>
        <div class="team-member" team-member="qianying">
            <img class="default" src="img/qianying.jpg" />
        </div>
        <div class="clear-both"></div>
    </section>

</div>

{% include footer.html %}
