---
layout: default
title: 团队介绍
---

{% include nav.html %}

<div id="team-page" class="page">

    <img class="center-logo" src="img/logo-no-background.png" />
    <h2>竹尖儿团队</h2>
    <h4 class="team-subtitle"><span class="mobile-split">与你一样出类拔萃，</span><span class="mobile-split">同你一起蓄势待发！</span></h4>

    <section id="team-section">
        <div class="team-member" team-member="wenli">
            <a href="http://zhangwenli.com" target="_blank">
                <img id="wenli-img" class="default" src="img/wenli.jpg" />
                <img class="hidden" src="img/wenli-hover.gif" />
                <img class="hidden" src="img/wenli-right.jpg" />
            </a>
        </div>
        <div class="team-member" team-member="jiajun">
            <a href="http://jiajunw.com/" target="_blank">
                <img id="jiajun-img" class="default" src="img/jiajun.jpg" />
                <img class="hidden" src="img/jiajun-hover.gif" />
                <img class="hidden" src="img/jiajun-left.jpg" />
                <img class="hidden" src="img/jiajun-right.jpg" />
            </a>
        </div>
        <div class="team-member" team-member="shixin">
            <img id="shixin-img" class="default" src="img/shixin.jpg" />
            <img class="hidden" src="img/shixin-hover.gif" />
            <img class="hidden" src="img/shixin-left.jpg" />
        </div>
        <div class="team-member" team-member="chentian">
            <a href="http://bigtinabang.com/" target="_blank">
                <img id="chentian-img" class="default" src="img/chentian.jpg" />
                <img class="hidden" src="img/chentian-hover.gif" />
                <img class="hidden" src="img/chentian-right.jpg" />
            </a>
        </div>
        <div class="team-member" team-member="yingshan">
            <img id="yingshan-img" class="default" src="img/yingshan.jpg" />
            <img class="hidden" src="img/yingshan-hover.gif" />
            <img class="hidden" src="img/yingshan-left.jpg" />
            <img class="hidden" src="img/yingshan-right.jpg" />
        </div>
        <div class="team-member" team-member="qianying">
            <img id="qianying-img" class="default" src="img/qianying.jpg" />
            <img class="hidden" src="img/qianying-hover.gif" />
            <img class="hidden" src="img/qianying-left.jpg" />
        </div>
        <div class="clear-both"></div>
    </section>

</div>

{% include footer.html %}
