---
layout: default
---

{% include nav.html %}

<div class="page container">

    <h2>竹尖儿团队</h2>

    <section id="team-section">
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="team-member" team-member="wenli">
            <img class="default" src="img/wenli.jpg" />
            <img class="hover" src="img/wenli-hover.gif" />
        </div>
        <div class="clear-both"></div>
    </section>

</div>

{% include footer.html %}
