<section id="footer-section" class="smoke-back">
    <div class="container">
        <ul>
            <li><a href="/" onclick="_gaq.push(['_trackEvent', 'Nav', 'Index', window.location.pathname]);">首页</a></li>
            <li><a href="/portfolio.html" onclick="_gaq.push(['_trackEvent', 'Nav', 'Portfolio', window.location.pathname]);">案例</a></li>
            <li><a href="/contact.html" onclick="_gaq.push(['_trackEvent', 'Nav', 'Contact', window.location.pathname]);">联系</a></li>
            <li><a href="/team.html" onclick="_gaq.push(['_trackEvent', 'Nav', 'Team', window.location.pathname]);">团队</a></li>
        </ul>
        <hr />
    </div>
    <h3>竹尖儿工作室</h3>
</section>
