section {
    min-height: 300px;  // TODO: tmp value
    background-color: $clr-gray-lightest;
    padding: 40px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .imgdiv {
        background-color: $clr-secondary;
        min-height:200px;
        max-width:300px;
    }

    &:nth-child(even) {
        background-color: $clr-gray-lighter;  
        .imgdiv {
            background-color: $clr-primary;
            min-height:200px;
        }
    }
}

.imgdiv img {
    max-height:100%;
    max-width:100%;
}

#footer-section {
	padding: 100px 0;
	color: $clr-txt-on-dark;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 20px;
		font-size: $ft-sz-lg;
	}

	a {
		color: $clr-txt-on-dark;
	}

	hr {
		width: 75%;
		margin: 20px auto;
		margin-bottom: 30px;
	}
}
