#price {
    .head {
        color: $clr-gray-lightest;
        height: 90px;
    }

    .content {
        margin-top: 10px;

        li {
            list-style-type: none;
        }
    }

    .table {
        text-align: center;
        border-radius: 4px;
        line-height: 17pt;  

        button {
            margin: 5px;
            border-radius: 6px;
        }

        &.pink {
            margin-top: 20px;
            border: 2px solid $clr-secondary;
            z-index: 10;
            position: relative;
            background-color: $clr-gray-lighter;
        }

        &.purple {
            margin-top: 40px;
            border: 2px solid $clr-primary;
        }

        &.purple .head {
            background-color: $clr-primary;
        }

        &.pink .head {
            background-color: $clr-secondary;
        }

        &.purple button {
            color: $clr-primary;
            background-color: $clr-gray-lighter;
            border: 2px solid $clr-primary;
        }

        &.pink button {
            color: $clr-gray-lightest;
            background-color: $clr-secondary;
            border: 2px solid $clr-secondary;
        }
    }

    #basic {
        h2 {
            padding-top: 15px;
            padding-bottom: 5px;   
        }

        h6 {
            padding-bottom: 15px;
        }

        &.table {
            margin-left: 40px;
        }
    }

    #senior {
        h2 {
            padding-top: 15px;
            padding-bottom: 5px;        
        }

        h6 {
            padding-bottom: 15px;
        }
    }

    #customize {
        h2 {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &.table {
            margin-left: -40px;
        }
    }
}

@media screen and (max-width: 768px) {
    #price .table {
        margin-left: 0 !important;
        margin: 10px auto !important;
        max-width: 300px;
    }   
}

