#team-page {
    margin: 0;
    padding: 80px;
    background-color: $clr-gray-lighter;
}

#team-section {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    background-color: white;

    .team-member {
        float: left;

        img {
            display: none;
            width: 300px;

            &.default {
                display: block;
            }
        }
    }
}

.center-logo {
    margin: 10px auto;
    display: block;
}
