#team-page {
    margin: 0;
    padding: 80px 10px;
    background-color: $clr-gray-lighter;

    .team-subtitle {
        text-align: center;
        color: $clr-primary;
        margin-top: -15px;
    }
}

#team-section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-color: $clr-gray-lighter;

    .team-member {
        float: left;
        width: 33.333333333333333%;

        img {
            display: none;
            width: 100%;

            &.default {
                display: block;
            }
        }
    }
}

.center-logo {
    margin: 10px auto;
    display: block;
}
