#price {
    .head {
        color: $clr-gray-lightest;
        height: 90px;
        padding: 15px 0;

        h2 {
            margin-bottom: 0;
        }
    }

    .content {
        padding: 20px 0 10px 0;

        li {
            list-style-type: none;
        }
    }

    .table {
        text-align: center;
        border-radius: 4px;
        line-height: 17pt;
        background-color: $clr-gray-lightest;

        button {
            margin: 5px;
            border-radius: 6px;
        }

        &.pink {
            margin-top: 20px;
            border: 2px solid $clr-secondary;
            z-index: 10;
            position: relative;
            box-shadow: 0 0 20px 1px rgba(100, 100, 100, 0.6);
        }

        &.purple {
            margin-top: 40px;
            border: 2px solid $clr-primary;
        }

        &.purple .head {
            background-color: $clr-primary;
        }

        &.pink .head {
            background-color: $clr-secondary;
        }

        &.purple button {
            color: $clr-primary;
            background-color: $clr-gray-lighter;
            border: 2px solid $clr-primary;
        }

        &.pink button {
            color: $clr-gray-lightest;
            background-color: $clr-secondary;
            border: 2px solid $clr-secondary;
        }
    }

    #basic {
        &.table {
            margin-left: 40px;
        }
    }

    #customize {
        &.table {
            margin-left: -40px;
        }
    }
}
