$header-height: 500px;

.navbar {
    background-color: transparent;
    border-bottom: 1px solid $clr-primary-light;
    
    a {
        color: $clr-gray-lighter;
    }
    
    .active > a {
        font-weight: bold;
    }
    
    .nav > li > a:hover, .nav > li > a:focus {
        background-color: $clr-primary-dark;
    }
    
    &.down {
        background-color: $clr-primary;
    }
}



.header-section {
    height: $header-height;
    background-color: $clr-primary;
    border-bottom: 1px solid $clr-primary-light;
}
