$header-height: 600px;

$header-browser-content-height: 200px;

$header-browser-height: 180px;
$header-browser-control-height: 40px;
$header-browser-control-button-diameter: 14px;
$header-browser-address-bar-height: 36px;
$header-browser-address-icons-width: 130px;
$header-browser-address-margin: 5px;
$header-browser-content-height: $header-browser-height - $header-browser-control-height
        - $header-browser-address-bar-height;

$header-browser-control-color: #cecece;
$header-browser-tab-color: #e3e3e3;
$header-browser-icon-color: #969696;
$header-browser-content-color: #ebebeb;

$header-mobile-width: 250px;
$header-mobile-height: 250px;
$header-mobile-screen-top: 45px;
$header-mobile-screen-left: 8px;
$header-mobile-side-width: 6px;

$header-mobile-back-color: #efefef;
$header-mobile-iron-color: #ccc;
$header-mobile-speaker-color: #999;



.navbar {
    background-color: $clr-primary;

    a {
        color: $clr-gray-lighter;
    }
    
    .active > a {
        font-weight: bold;
    }
    
    .nav > li > a:hover, .nav > li > a:focus {
        background-color: $clr-primary;
    }

    &.bordered {
        box-shadow: 0 0 10px 2px $clr-primary;
    }
}



.smoke-back {
    background-image: url(../img/home-back.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $clr-primary;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.home-tooltip {
    border-radius: 4px;
    background: $clr-secondary;
    color: $clr-txt-on-dark;

    .tooltipster-content {
        font-family: $ft-fm-def;
        font-size: $ft-sz-lg;
        padding: 16px 20px;
    }

    .tooltipster-base {
        z-index: 10;
    }
}



.header-section {
    height: $header-height;
    border-bottom: 1px solid $clr-primary-light;
    overflow: hidden;

    // make sure the following sections cover the overflowed part
    &~section {
        position: relative;
        z-index: 100;
    }
}



#header-content {
    text-align: center;
    padding-top: 100px;
    position: relative;
    height: $header-browser-content-height;
    margin-bottom: -$header-browser-content-height;
    color: $clr-gray-lighter;

    .logo-primary.tooltip {
        transition: 1s;
        opacity: 1.0;
        position: static;
        display: inline-block;

        &:hover {
            background-color: $clr-gray-light;
        };
    }

    .zhujianer-title {
        color: $clr-thirdary;
        margin: 10px 0;
    }

    .subtitle.tooltip {
        color: $clr-secondary;
        margin: 0 0 30px 0;
        opacity: 1.0;
        position: static;
        display: inline-block;
        font-size: 2.8rem;

        span {
            display: inline-block;
        }
    }

    .description {
        color: $clr-gray;
    }
}



#header-browser.tooltip {
    width: 100%;
    height: $header-browser-height;
    margin-top: $header-height - $header-browser-height;
    position: static;
    opacity: 1.0;
}

#header-browser-control {
    width: 100%;
    height: $header-browser-control-height;
    background-color: $header-browser-control-color;
    border-radius: 10px 10px 0 0;
}

#header-browser-control-buttons {
    height: 100%;
    padding-left: 10px;
    display: inline-block;
}

.header-browser-control-button {
    width: $header-browser-control-button-diameter;
    height: $header-browser-control-button-diameter;
    border-radius: $header-browser-control-button-diameter / 2;
    display: inline-block;
    margin: ($header-browser-control-height - $header-browser-control-button-diameter) / 2 2px;

    &#header-browser-control-red {
        background-color: #e76c6a;
    }

    &#header-browser-control-yellow {
        background-color: #dfbc43;
    }

    &#header-browser-control-green {
        background-color: #36d488;
    }
}

#header-browser-tab {
    display: inline-block;
    margin: 0 20px;
    width: 200px;
    height: $header-browser-control-height * 0.7;
    background-color: $header-browser-tab-color;
    border-radius: 8px 8px 0 0;
    position: relative;
}

#header-browser-tab-close {
    width: $header-browser-control-button-diameter;
    height: $header-browser-control-button-diameter;
    border-radius: $header-browser-control-button-diameter / 2;
    position: absolute;
    right: 10px;
    top: ($header-browser-control-height * 0.7 - $header-browser-control-button-diameter) / 2;
    background-color: $header-browser-control-color;
}

#header-browser-address-bar {
    height: $header-browser-address-bar-height;
    background-color: $header-browser-tab-color;
    padding: 5px 10px;
    position: relative;

    #header-browser-address-icons {
        display: inline-block;
        width: $header-browser-address-icons-width;

        .glyphicon {
            color: $header-browser-icon-color;
            font-size: 16px;
            margin: 5px 5px;

            &#header-browser-reload {
                font-weight: bold;
            }
        }
    }
}

#header-browser-address {
    border-radius: 5px;
    background-color: $clr-gray-lightest;
    position: absolute;
    left: $header-browser-address-icons-width + $header-browser-address-margin;
    right: $header-browser-address-margin;
    top: $header-browser-address-margin;
    bottom: $header-browser-address-margin;
}

#header-browser-content {
    width: 100%;
    height: $header-browser-content-height;
    border: 2px solid $header-browser-content-color;
    border-bottom-style: none;
}



#header-mobile.tooltip {
    width: $header-mobile-width;
    max-width: 50%;
    height: $header-mobile-height;
    margin-top: -$header-mobile-height;
    background-color: $header-mobile-back-color;
    border: 2px $header-mobile-iron-color;
    border-style: solid solid none solid;
    border-radius: 30px 30px 0 0;
    float: right;
    position: relative;
    z-index: 10;
    opacity: 1.0;
    display: block;
}

#header-mobile-speaker {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: $header-mobile-speaker-color;
    margin: 20px auto;
}

#header-mobile-screen {
    background-color: $clr-primary;
    position: absolute;
    left: $header-mobile-screen-left;
    right: $header-mobile-screen-left;
    top: $header-mobile-screen-top;
    bottom: 0;
}

#header-mobile-side {
    width: $header-mobile-side-width;
    position: relative;
    left: -$header-mobile-side-width;
    top: 45px;

    .header-mobile-side-btn {
        width: 100%;
        height: 35px;
        background-color: $header-mobile-back-color;
        border: 2px solid $header-mobile-iron-color;
        margin-bottom: 5px;
    }
}
