section {
    padding: 80px 0;
    background-color: $clr-gray-lightest;

    &:nth-child(even) {
        background-color: $clr-gray-lighter;
    }
}



.imgdiv img {
    max-height: 100%;
    max-width: 100%;
}



#process-section {
    text-align: center;

    h2 {
        color: $clr-secondary;
    }

    #process-images {
        color: $clr-primary;
        line-height: 2.2rem;

        h3 {
            margin-top: 20px;
        }

        h4 {
            display: none;
        }
    }

    .process {
        width: 120px;
        height: 120px;
        max-width: 100%;
        border-radius: 60px;
        margin: 0 auto;
        @extend .smoke-back;
        transition: 0.5s;

        &:hover {
            +h4 {
                color: $clr-secondary;
            }
        };

        .image-block {
            width: 90%;
            height: 90%;
            background-size: 500%;
            margin: 0 auto;
            position: relative;
            top: 5%;
            background-image: url('../img/process.png');

            &:hover {
                background-position-y: 100%;
            };
        }

        &#process-idea .image-block {
            background-position-x: 0;
        }

        &#process-design .image-block {
            background-position-x: -100%;
        }

        &#process-code .image-block {
            background-position-x: -200%;
        }

        &#process-launch .image-block {
            background-position-x: -300%;
        }

        &#process-monitor .image-block {
            background-position-x: -400%;
        }
    }

    #process-titles {
        margin-top: 40px;

        .process-title {
            display: none;

            .process-highlight {
                color: $clr-secondary;
            }
        }
    }
}



#portfolio-section {
    .portfolio-img {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}



#footer-section {
	color: $clr-txt-on-dark;
	text-align: center;

    ul {
        padding: 0;
    }

	li {
		display: inline-block;
		margin: 0 15px;
		font-size: $ft-sz-lg;

        &.active > a {
            font-weight: bold;
        }
	}

	a {
		color: $clr-txt-on-dark;
        font-weight: normal;
        transition: 0.5s;

        &:hover {
            color: $clr-secondary;
            text-decoration: none;
        };
	}

	hr {
		width: 75%;
		margin: 20px auto;
		margin-bottom: 30px;
        border: 0;
        border-bottom: 1px solid $clr-secondary;
	}

    h3 {
        color: $clr-thirdary;
    }
}
