section {
    padding: 80px 0;
}



.introduction {
    min-height: 300px;  // TODO: tmp value
    background-color: $clr-gray-lightest;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
	.introduction-p {
        padding: 0px 0px;
        text-align: justify;
        text-justify: inter-ideograph;
    }
	
    .imgdiv {
        background-color: $clr-secondary;
        min-height:200px;
    }

    &:nth-child(even) {
        background-color: $clr-gray-lighter;  
        .imgdiv {
            background-color: $clr-primary;
            min-height:200px;
        }
    }
}

.imgdiv img {
    max-height: 100%;
    max-width: 100%;
}



#process-section {
    text-align: center;

    h2 {
        color: $clr-secondary;
    }

    #process-images {
        color: $clr-primary;

        h4 {
            margin-top: 20px;
        }
    }

    .process {
        width: 120px;
        height: 120px;
        max-width: 100%;
        border-radius: 60px;
        margin: 0 auto;
        @extend .smoke-back;
        transition: 0.5s;

        &:hover {
            +h4 {
                color: $clr-secondary;
            }
        };

        @include index-process-icon(idea);
        @include index-process-icon(design);
        @include index-process-icon(code);
        @include index-process-icon(launch);
        @include index-process-icon(monitor);
        
    }

    #process-titles {
        margin-top: 40px;

        .process-title {
            display: none;

            .title {
                color: $clr-secondary;
            }
        }
    }
}



#footer-section {
	color: $clr-txt-on-dark;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 15px;
		font-size: $ft-sz-lg;
	}

	a {
		color: $clr-txt-on-dark;
        font-weight: normal;

        &:hover {
            color: $clr-secondary;
            text-decoration: none;
        };
	}

	hr {
		width: 75%;
		margin: 20px auto;
		margin-bottom: 30px;
        border: 0;
        border-bottom: 1px solid $clr-thirdary;
	}
}
