// Families
$ft-fm--en: Lato;
$ft-fm--cn: "Microsoft YaHei";
$ft-fm--local: sans-serif;

$ft-fm-def: $ft-fm--en, $ft-fm--cn, $ft-fm--local;

$ft-fm-code: Consolas, "Courier New", Courier;





// Weight
$ft-wt-def:   400;
$ft-wt-light: 400;
$ft-wt-bold:  900;

$ft-wt-h1-6: $ft-wt-bold;





// Size

$ft-sz-def:  1.5rem;
$ft-sz-sm:   1rem;
$ft-sz-smer: 0.8rem;
$ft-sz-lg:   1.5rem;

$ft-sz: 3rem, 2.5rem, 1.8rem, 1.75rem, 1.5rem, 1.25rem;
$ft-mg: 1.8rem, 1.5rem, 1.2rem, 1rem, 0.8rem, 0.6rem;

$ft-sz-qt: 1rem;





// Set to elements
body {
    font-family: $ft-fm-def;
    font-weight: $ft-wt-def;
    font-size: $ft-sz-def;
}



@for $i from 1 through 6 {
    h#{$i} {
        font-family: $ft-fm-def;
        font-size: nth($ft-sz, $i);
        margin: 0 0 nth($ft-mg, $i) 0;
    }
}

p {
    font-size: $ft-sz-def;
    margin: 0.5rem 0;
}

ul {
    font-size: $ft-sz-def;
}
