$clr-primary: #2f2946;
$clr-primary-dark: darken($clr-primary, 20%);
$clr-primary-light: lighten($clr-primary, 20%);
$clr-secondary: #d0648a;

$clr-gray: #ccc;
$clr-gray-light: #eee;
$clr-gray-lighter: #f3f3f3;
$clr-gray-lightest: #fcfcfc;
