@mixin radial-gradient($color) {
    background: -moz-radial-gradient(center, ellipse cover, $color 0%, $clr-primary, 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $color), color-stop(100%, $clr-primary)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, $color 0%, $clr-primary 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, $color 0%, $clr-primary 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, $color 0%, $clr-primary 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, $color 0%, $clr-primary 100%); /* W3C */
}
