body {
    background: #fff;
    text-align: left;
}



// button styles
.btn {
    border-radius: 5px;
    padding: 8px 16px;
    transition: 0.5s;
    border: none;
}

.btn-default {
    color: $clr-gray-dark;
    background-color: transparent;
    border: 1px solid $clr-gray;
}

.btn-primary {
    color: $clr-txt-on-dark;
    background-color: $clr-primary;

    &:hover {
        background-color: $clr-primary-dark;
    };

    &.disabled, &.disabled:hover {
        background: $clr-primary-light;
        cursor: auto;
    }
}

.btn-secondary {
    color: $clr-txt-on-dark;
    background-color: $clr-secondary;

    &:hover {
        color: $clr-txt-on-dark;
        background-color: $clr-secondary-dark;
    };
}



// image style
img {
    max-width: 100%;
}



// fix float
.clear-both {
    clear: both;
}



// display in one line when possible and split into lines
// when on mobile devices
.mobile-split {
    display: inline-block;
}



// fix page position due to nav
.page {
    margin-top: 80px;
    margin-bottom: 40px;

    h2 {
        color: $clr-secondary;
        text-align: center;
    }
}
