<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>竹尖儿创意工作室{% if page.title %} - {{ page.title }}{% endif %}</title>
        <link rel="icon" href="{{ site.url }}/img/zhujianer.ico" type="image/x-icon">
    
        <meta name="description" content="{{ site.description }}" />
        <meta name="viewport" content="width=100%, initial-scale=1" />
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
    </head>
    <body>
        {{ content }}
        
        <script type="text/javascript" src="{{ site.url }}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
        {% if page.url == '/index.html' %}
        <link rel="stylesheet" href="{{ site.url }}/css/tooltipster.css" />
        <script type="text/javascript" src="{{ site.url }}/js/jquery.tooltipster.min.js"></script>
        {% endif %}
        {% if page.url == '/contact.html' %}
        <script type="text/javascript" src="{{ site.url }}/js/validator.min.js"></script>
        {% endif %}
        <script type="text/javascript" src="{{ site.url }}/js/ui.js"></script>
    </body>
</html>
